body{
 display: flex;
}

.divEsquerda{
    width: fit-content;
}

.divDireita{
    width: 100%;
    height: 30rem;
    margin-left: 3rem;
}

.logoEsquerda{
    width: 8rem;
    margin: 2rem;
    margin-bottom: 0rem !important;
}

h1, h2{
    font-family: 'Calistoga', sans-serif; 
}

.GESTAPO .Titulo {
    color: #48887A;
}

.NKVD .Titulo {
    color: #DF4D4E;
}

.LOVRA .Titulo {
    color: #363435;
}

.Texto {
    font-size: larger;
    font-weight: bold;
    font-family: "Cambo", serif;
}

.LogosAgencias{
    height: 20rem;
}

.Agencia {
    display: flex;
}

.Esquerda{
    width: 40%;
}